.settings-container {
  width: 90%;
  margin: auto;
  margin-top: 2rem;

  .open {
    color: green;
    font-weight: bold;
  }
  .closed {
    color: red;
    font-weight: bold;
  }

  .disabled-button {
    pointer-events: none;
    opacity: 0.5;
  }

  .row-disabled {
    background: #f0f0f0;
    color: #aaa;
    opacity: 0.7;
  }
}

.addPayrollPeriods {
  background-color: #0070f3;
  border: none;
  color: white;
  padding: 0.7rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
}

.addPayrollPeriods:hover {
  background-color: #005bb5;
}

.addPayrollPeriods:active {
  background-color: #003f7f;
}
