.configuration-Container {
  width: 80%;
  margin: auto;
  padding-top: 2rem;

  .edicion-valores {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 2rem;
  }

  select {
    width: 100%;
    padding: 0.7rem 1.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
  }

  .edit {
    padding: 0.7rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: auto;

    &:hover {
      background-color: #0056b3;
    }

    &:active {
      background-color: #004080;
    }
  }
}

.header {
  background-color: #345d8a;
  color: white;
}

.table {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.currency-selector {
  font-weight: normal;
  opacity: 0.7;
  display: block;
}

.selects {
  display: flex;
  gap: 2rem;

  div {
    flex: 1;
  }
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}
