.deducciones-container {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}
.descr {
  font-size: 0.9rem;
  opacity: 0.7;
}
.deducciones-form {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;

  .concept-Details {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .concept-Details > div {
    flex: 1;
  }

  div {
    display: grid;
    grid-template-columns: 1fr;

    gap: 0.5rem;
  }
}
.add-deduccionBTN {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
  padding: 0.7rem 1.5rem;
  margin-left: auto;
}

.add-deduccionBTN:hover {
  background-color: #0041a8;
}

.add-deduccionBTN:active {
  background-color: #002f7f;
}

.checkbox {
  width: 15px;
  height: 20px;
  cursor: pointer;
  margin-left: -0.3rem;
}

.checkboxs {
  display: flex;
  align-items: center;
  gap: 10px;

  .checkboxs2 {
    display: flex;
    align-items: center;
    gap: 10px;

    select {
      padding: 0.3rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 600.99px) {
  .deducciones-container {
    width: 95%;
    padding: 1rem;
  }

  .deducciones-form .concept-Details {
    display: flex;
    flex-direction: column;
  }
}
