USE [master]
GO
/****** Object:  Database [Nomina]    Script Date: 20/01/2026 11:41:37 p. m. ******/
CREATE DATABASE [Nomina]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nomina', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Nomina.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nomina_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Nomina_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nomina].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nomina]
GO
/****** Object:  Table [dbo].[_prisma_migrations]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_prisma_migrations](
	[id] [varchar](36) NOT NULL,
	[checksum] [varchar](64) NOT NULL,
	[finished_at] [datetimeoffset](7) NULL,
	[migration_name] [nvarchar](250) NOT NULL,
	[logs] [nvarchar](max) NULL,
	[rolled_back_at] [datetimeoffset](7) NULL,
	[started_at] [datetimeoffset](7) NOT NULL,
	[applied_steps_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id_City] [int] IDENTITY(1,1) NOT NULL,
	[City] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Concepts]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Concepts](
	[Id_Concept_Type] [varchar](2) NULL,
	[Id_Concept] [varchar](10) NULL,
	[Description] [varchar](50) NULL,
	[Income_Tax] [bit] NOT NULL,
	[Social_Sec] [bit] NOT NULL,
	[Is_Default_Concept] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Default_Concepts]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Default_Concepts](
	[Id_Default_Concept] [int] IDENTITY(1,1) NOT NULL,
	[Id_PayFrequency] [int] NULL,
	[Id_Concept] [varchar](10) NULL,
	[Id_Concept_Type] [varchar](2) NULL,
	[Per_Hour] [decimal](18, 3) NULL,
	[Per_Amount] [decimal](18, 3) NULL,
	[Description] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id_Department] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Exceptions]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Exceptions](
	[Id_Movement] [int] IDENTITY(1,1) NOT NULL,
	[Id_Employee] [int] NULL,
	[Id_Concept] [varchar](10) NULL,
	[Id_PayFrequency] [int] NULL,
	[Id_Concept_Type] [varchar](2) NULL,
	[Per_Amount] [decimal](18, 3) NULL,
	[Per_Hour] [decimal](18, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Type]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Type](
	[Id_Employee_Type] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id_Employee] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[First_SurName] [varchar](50) NULL,
	[Second_Surname] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Phone_Number] [varchar](20) NULL,
	[Address] [varchar](200) NULL,
	[Id_State] [int] NULL,
	[Id_City] [int] NULL,
	[Id_Job] [int] NULL,
	[Id_Department] [int] NULL,
	[Id_Employee_type] [int] NULL,
	[Start_Date] [date] NULL,
	[Salary] [decimal](18, 3) NULL,
	[Status] [varchar](10) NULL,
	[Curp] [varchar](70) NULL,
	[RFC] [varchar](70) NULL,
	[Id_PayFrequency] [int] NULL,
	[BankAccountNumber] [varchar](80) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees_Movements]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees_Movements](
	[Id_Movement] [int] IDENTITY(1,1) NOT NULL,
	[Id_Employee] [int] NOT NULL,
	[Id_Concept] [varchar](10) NOT NULL,
	[Id_PayFrequency] [int] NOT NULL,
	[Id_Period] [int] NOT NULL,
	[Id_Concept_Type] [varchar](2) NOT NULL,
	[Total_Amount] [decimal](18, 3) NULL,
	[Balance] [decimal](18, 3) NULL,
	[Last_Time_Update] [date] NULL,
	[Increase_or_Rest] [varchar](5) NULL,
	[Created_By] [varchar](50) NULL,
	[Is_Processed] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ISR_Tables]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ISR_Tables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[Id_PayFrequency] [int] NOT NULL,
	[LowerLimit] [decimal](12, 2) NOT NULL,
	[UpperLimit] [decimal](12, 2) NULL,
	[FixedFee] [decimal](12, 2) NOT NULL,
	[Percentage] [decimal](6, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[Id_Job] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pay_Frequency]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pay_Frequency](
	[Id_PayFrequency] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_History]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_History](
	[Id_Employee] [int] NULL,
	[Id_PayFrequency] [int] NULL,
	[Id_Period] [int] NULL,
	[GrossSalary] [decimal](18, 3) NULL,
	[Incomes_Sumatory] [decimal](18, 3) NULL,
	[Deductions_Sumatory] [decimal](18, 3) NULL,
	[Calculated_ISR] [decimal](18, 3) NULL,
	[Net_Pay] [decimal](18, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll](
	[Year] [smallint] NULL,
	[Id_PayFrequency] [int] NULL,
	[Id_Period] [int] NULL,
	[Period_Start] [date] NULL,
	[Period_End] [date] NULL,
	[Month] [tinyint] NULL,
	[Status] [varchar](20) NULL,
	[Process_Date] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll_Detail]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll_Detail](
	[Id_PayrollDetail] [int] IDENTITY(1,1) NOT NULL,
	[Id_Period] [int] NULL,
	[Id_PayFrequency] [int] NULL,
	[Id_Employee] [int] NULL,
	[Id_Department] [int] NULL,
	[Id_Concept] [varchar](10) NULL,
	[Id_Concept_Type] [varchar](2) NULL,
	[Worked_Hours] [decimal](18, 2) NULL,
	[Salary_Per_Hour] [decimal](10, 2) NULL,
	[Amount] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[Id_State] [int] IDENTITY(1,1) NOT NULL,
	[State] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id_Status] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subsidy_Tables]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subsidy_Tables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[Id_PayFrequency] [int] NOT NULL,
	[LowerLimit] [decimal](12, 2) NOT NULL,
	[UpperLimit] [decimal](12, 2) NULL,
	[Amount] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Password] [varchar](100) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[_prisma_migrations] ADD  DEFAULT (getdate()) FOR [started_at]
GO
ALTER TABLE [dbo].[_prisma_migrations] ADD  DEFAULT ((0)) FOR [applied_steps_count]
GO
ALTER TABLE [dbo].[Concepts] ADD  DEFAULT ((0)) FOR [Income_Tax]
GO
ALTER TABLE [dbo].[Concepts] ADD  DEFAULT ((0)) FOR [Social_Sec]
GO
ALTER TABLE [dbo].[Employees_Movements] ADD  CONSTRAINT [DF__Employees__Is_Pr__1DB06A4F]  DEFAULT ((0)) FOR [Is_Processed]
GO
ALTER TABLE [dbo].[Payroll] ADD  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Payroll] ADD  DEFAULT (getdate()) FOR [Process_Date]
GO
/****** Object:  StoredProcedure [dbo].[get_All_Employee_Movements]    Script Date: 20/01/2026 11:41:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_All_Employee_Movements]
AS
BEGIN
	Select 
		empm.Id_Employee,
		empm.Id_Movement, 
		concat(emp.Name, ' ' ,emp.First_SurName, ' ' ,emp.Second_Surname) as FullName, 
		con.Id_Concept_Type, 
		con.Description, 
		empm.Total_Amount, 
		empm.Balance, 
		empm.Last_Time_Update 
	from Employees as emp
	INNER JOIN Employees_Movements empm
		ON emp.Id_Employee = empm.Id_Employee
	INNER JOIN Concepts as con
		ON empm.Id_Concept = con.Id_Concept
	Where empm.Is_Processed = 0 
	AND empm.Last_Time_Update >= DATEFROMPARTS(YEAR(GETDATE()), 1, 1)
	AND empm.Last_Time_Update <  DATEFROMPARTS(YEAR(GETDATE()) + 1, 1, 1)

END
GO
USE [master]
GO
