.employees-container {
  width: 80%;
  margin: auto;
  margin-top: 2rem;

  .employee-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .btns {
      display: flex;
      gap: 1rem;
    }

    button {
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: none;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .exportarPDF {
      border-radius: 0.5rem;
      background-color: #db1436;
      white-space: nowrap;
    }
    .exportarPDF:hover {
      background-color: #a31027;
    }
    .btnPDF {
      text-decoration: none;
      color: white;
    }

    button:hover {
      background-color: #0056b3;
    }

    button:active {
      background-color: #004085;
    }
  }
}

.filtros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  select {
    padding: 0.5rem;
    border: 2px solid #e0e0e0;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    transition: border-color 0.2s;
  }

  button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.8rem;
    align-items: center;
  }
  button:hover {
    background-color: #0056b3;
  }
}

.add-employee {
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.add-employee:hover {
  background-color: #0056b3;
}
