.UserActions-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90vh;
  margin: auto;
  background-color: rgb(243, 243, 243);
  padding: 1rem;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 10;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

  .UserActions-information {
    background-color: white;
    padding: 1rem;
    border-radius: 4px;
  }

  .UserActions-edit {
    background-color: white;
    padding: 1rem;
    border-radius: 4px;
    margin-top: 1rem;

    hr {
      opacity: 0.3;
    }

    .hr-job-information {
      margin-top: 2rem;
    }

    .texto-informacionPersonal {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }

  h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .UserActions-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;

    .cancel-button {
      background-color: #ccc;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
      width: 50%;
    }
    .submit-button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
      width: 50%;
    }

    .submit-button:hover {
      background-color: #0056b3;
    }
    .cancel-button:hover {
      background-color: #999;
    }
  }
  .UserActions-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .UserActions-personalInformation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    div {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        opacity: 0.8;
      }

      input {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      select {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      input:focus {
        border-color: #007bff;
        outline: none;
      }
    }
  }
}

@media (max-width: 600.99px) {
  .UserActions-container {
    width: 90%;
    .UserActions-personalInformation {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}

.desactivate-employee {
  border: #ff4d4d 0.5px solid;
  padding: 1rem;
  margin-top: 2rem;
  button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
  }

  button:hover {
    background-color: #cc0000;
  }
}
