* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1000;
  width: 40%;
  max-height: 80dvh;
  height: auto;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }
}

.form-group2 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
  margin-top: 1rem;

  label {
    margin-bottom: -2rem;
  }

  .selectUpdate {
    margin-top: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 999;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.digital-clock {
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  color: #1890ff;
  background: #f0f0f0;
  padding: 0.5em 1em;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: inline-block;
  margin-left: 0.5rem;
  margin-top: -0.4rem;
}

label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  opacity: 0.7;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0.4;
}

h2 {
  font-weight: normal;
  opacity: 0.8;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.guardar {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.guardar:hover {
  background-color: #0056b3;
}

.guardar:active {
  background-color: #004080;
}

.cancelar {
  padding: 0.5rem 1rem;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cancelar:hover {
  background-color: #5a6268;
}

.cancelar:active {
  background-color: #4e555b;
}
