* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1000;
  width: 40%;
  max-height: 80dvh;
  height: auto;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }
}

.form-group2 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
  margin-top: 1rem;

  label {
    margin-bottom: -2rem;
  }

  .selectUpdate {
    margin-top: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 999;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.digital-clock {
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  color: #333;
  padding: 0.5em 1em;
  display: inline-block;
  margin-left: -0.3rem;
  margin-top: -0.3rem;
}

label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  opacity: 0.7;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0.4;
}

h2 {
  font-size: 1.8rem;
  color: #1a1a2e;
  margin-bottom: 0.5rem;
  font-weight: normal;
}
input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.guardar {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.guardar:hover {
  background-color: #0056b3;
}

.guardar:active {
  background-color: #004080;
}

.cancelar {
  padding: 0.5rem 1rem;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cancelar:hover {
  background-color: #5a6268;
}

.cancelar:active {
  background-color: #4e555b;
}

button {
  font-weight: 550;
}

.buscador {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem;
  border-radius: 1rem;
  width: 100%;
  margin-top: 2rem;

  .filtro {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 0.9rem;
    opacity: 0.7;
    width: 60%;
  }

  .botonesfiltro {
    select {
      padding: 0.7rem 1rem;
      border: 2px solid #e0e0e0;
      border-radius: 0.5rem;
      background-color: #f5f5f5;
      transition: border-color 0.2s;
    }
  }
}
