.contenedor {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  height: 70px;
}

.titulo {
  font-weight: normal;
  position: absolute;
  left: 2rem;
  font-weight: bold;
  font-size: 1.2rem;

  .titulo-interior {
    list-style: none;
    color: black;
    text-decoration: none;
  }
}

.nav-desktop {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  list-style: none;
  padding: 0;

  a {
    text-decoration: none;
    color: black;
  }
}
.nav-desktop a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(0, 91, 209);
  text-underline-offset: 5px;
}

.menu-icon {
  cursor: pointer;
}

.menu-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 1rem;
  margin: 0;
  background: #f5f5f5;
  border-top: 1px solid #ddd;

  a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
  }

  a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: rgb(0, 48, 151);
  }
}
.nav-desktop {
  display: none !important;
}

.logout {
  background-color: #0070f3;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.logout:hover {
  background-color: #005bb5;
}

.logout:active {
  background-color: #003f7f;
}
