.subOptions a {
  text-decoration: none;
}

.subOptions a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.contenedor {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  height: 70px;
}

.titulo {
  font-weight: normal;
  position: absolute;
  left: 2rem;
  font-weight: bold;
  font-size: 1.2rem;

  .titulo-interior {
    list-style: none;
    color: black;
    text-decoration: none;
  }
}

.nav-desktop {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  list-style: none;
  padding: 0;

  a {
    text-decoration: none;
    color: black;
  }
}
.nav-desktop a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(0, 91, 209);
  text-underline-offset: 5px;
}

.menu-icon {
  cursor: pointer;
}
.menu-separacion {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: white;
}

.menu-horizontal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  background: linear-gradient(90deg, #14243d 0%, #193a5a 50%, #204d85 100%);
  border-top: 1px solid #ddd;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  gap: 2rem;
  list-style: none;
  padding: 1rem;
  margin: 0;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.7s ease;

  a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    color: white;
  }

  .menuOptions > span:hover {
    text-decoration: underline;
    text-decoration-color: rgb(0, 91, 209);
    text-underline-offset: 5px;
  }
  a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(0, 91, 209);
    text-underline-offset: 5px;
  }
}
.menu-horizontal.menu-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}
.nav-desktop {
  display: none !important;
}

.subOptions {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 1.5rem;
  margin-top: 1rem;
}
