.deducciones-container {
  width: 80%;
  margin: auto;

  h2 {
    font-weight: normal;
    margin-top: 2rem;
    opacity: 0.7;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-top: 1px solid #ccc;
  }
}
.descr {
  font-size: 0.9rem;
  opacity: 0.7;
}
.deducciones-form {
  box-shadow: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
  div {
    display: grid;
    grid-template-columns: 1fr;

    gap: 0.5rem;
    margin-bottom: 0.5rem;

    select {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
    }

    input {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
    }
  }
}
.add-deduccionBTN {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}

.add-deduccionBTN:hover {
  background-color: #0041a8;
}

.add-deduccionBTN:active {
  background-color: #002f7f;
}

.checkbox {
  width: 15px;
  height: 20px;
  cursor: pointer;
  margin-left: -0.3rem;
}

.checkboxs {
  display: flex;
  align-items: center;
  gap: 10px;

  .checkboxs2 {
    display: flex;
    align-items: center;
    gap: 10px;

    select {
      padding: 0.3rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 600.99px) {
  .deducciones-container {
    width: 95%;
    padding: 1rem;
  }

  .deducciones-form {
    grid-template-columns: 1fr;
  }
}
