@media (max-width: 915.98px) {
  .images-stack {
    display: none;
  }

  form {
    width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .login-form {
    margin-top: 5rem;
  }
}

.login-form {
  display: flex;
  flex-direction: row;

  img {
    height: 100vh;
    width: 50%;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin: auto;

    h1,
    h4 {
      margin: auto;
    }
    h4 {
      opacity: 0.7;
      margin-top: 0.5rem;
      margin-bottom: 2rem;
    }

    h5 {
      text-align: center;
      font-weight: normal;
    }
    .copy {
      margin-top: 2rem;
    }

    .forgot-password {
      margin-top: -0rem;
      text-align: right;
      margin-bottom: 1rem;

      a {
        list-style: none;
        text-decoration: none;
        color: black;
      }
      a:hover {
        color: #0070f3;
      }
    }

    .register {
      margin-top: 0.5rem;
      text-align: right;
      a {
        list-style: none;
        text-decoration: none;
        color: black;
      }
      a:hover {
        color: #0070f3;
      }
    }
    button {
      padding: 0.5rem;
      font-size: 1rem;
      background-color: #0070f3;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #005bb5;
      }
    }
  }
}

.images-stack {
  position: relative;
  width: 50%;
  height: 100vh;
}
